<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <beans profile="dev">
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
            <property name="url" value="${jdbc.url}"/>
            <property name="username" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
        </bean>
    </beans>

    <beans profile="sit,uat,production">
        <!-- Hikari Datasource -->
        <bean id="dataSourceHikari" class="com.zaxxer.hikari.HikariDataSource">
            <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
            <property name="jdbcUrl" value="${jdbc.url}"/>
            <property name="username" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
            <!-- 连接只读数据库时配置为true， 保证安全 -->
            <property name="readOnly" value="false"/>
            <!-- 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException， 缺省:30秒 -->
            <property name="connectionTimeout" value="30000"/>
            <!-- 一个连接idle状态的最大时长（毫秒），超时则被释放（retired），缺省:10分钟 -->
            <property name="idleTimeout" value="600000"/>
            <!-- 一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒，参考MySQL wait_timeout参数（show variables like '%timeout%';） -->
            <property name="maxLifetime" value="1800000"/>
            <!-- 连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count) -->
            <property name="maximumPoolSize" value="15"/>
        </bean>
    </beans>

    <beans>
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource"/>
        </bean>
        <!--开启注解事务-->
        <tx:annotation-driven transaction-manager="transactionManager"/>
        <!--使用tx/aop配置-->
        <aop:config>
            <!--通过aop定义事务增强切面-->
            <aop:pointcut id="serviceMethod" expression="execution(* org.doraemon.*.service.*.*(..))"/>
            <!--引用事务增强-->
            <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod"/>
        </aop:config>

        <!--事务增强-->
        <tx:advice id="txAdvice" transaction-manager="transactionManager">
            <!--事务属性定义-->
            <tx:attributes>
                <tx:method name="get*" read-only="true"/>
                <tx:method name="query*" read-only="true"/>
                <tx:method name="find*" read-only="true"/>
                <tx:method name="add*" rollback-for="Exception"/>
                <tx:method name="save*" rollback-for="Exception"/>
                <tx:method name="insert*" rollback-for="Exception"/>
                <tx:method name="del*" rollback-for="Exception"/>
                <tx:method name="update*" rollback-for="Exception"/>
                <tx:method name="modify*" rollback-for="Exception"/>
                <tx:method name="edit*" rollback-for="Exception"/>
            </tx:attributes>
        </tx:advice>

        <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSource"/>
            <property name="typeAliasesPackage" value="org.doraemon.**.bean"/>
            <property name="mapperLocations" value="classpath:mapper/org/doraemon/**/*Dao.xml"/>
        </bean>

        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
            <property name="basePackage" value="org.doraemon.**.dao"/>
        </bean>
    </beans>
</beans>


